<link  rel="stylesheet" href="/css/user_sign_in.css">
<main>
    <div id = 'sign-in'>
        <p> Welcome </p>
        <form method="post" action="/user/sign-in">
            <div class="input">
                <label for="email"> Email </label>
                <input type="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="input">
                <label for="password"> Password </label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="input">
                <label for="admin-code"> Admin </label>
                <input type="password" name="admin-code" placeholder="If Admin, Enter Admin Code">
            </div>
            <div>
                <button type="submit"> Sign In </button>
            </div>
            <div id = "forgot">
                <p>
                    <a href=""> Forgot Password ?</a>
                </p>
                <p>
                    Don't have an account? <a href=""> Sign Up.</a>
                </p>
            </div>
        </form>
    </div>
</main>