header{
    height: auto;
    position: sticky;
    top: 0px;
    background-color:rgb(71, 71, 116);
    
    nav{
        height: inherit;
        display: flex;
        justify-content: space-between;

        a{
            font-weight: 600;
            color: aliceblue;
        }
        
        #page-title{
            margin-left: 3%;
        }

        #page-links{
            width: auto;
            display: flex;
            align-items: center;
            margin-right: 3%;
            justify-content: space-around;
            // border: 1px solid greenyellow;

            div{
                padding-left: 5px;
                padding-right: 5px;
            }

            // .space{
            //     width: 20px;
            // }
        }
    }
}